### Carga inicial desde Backups en la base de datos
* Falta completar nuevas bases

In [30]:
import pandas as pd

In [31]:
pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [32]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### Conexi√≥n Base de Datos

In [33]:
import mysql.connector
import sqlalchemy

database_username = 'root'
database_password = 'Cidifo03%%'
database_ip       = '127.0.0.1:3307'
database_name     = 'tesis'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name), pool_recycle=1, pool_timeout=57600).connect()

# Carga Backup en base de datos

In [35]:
df_Base_Rss = pd.read_excel (r'backupT.xlsx', sheet_name='Hoja1')
df_Base_Rss.to_sql(con=database_connection, name='t_base_rss', if_exists='replace',chunksize=100)

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+mysqlconnector://root:***@127.0.0.1:3307/tesis): (T_BASE_RSS)

In [11]:
df_Base_tweetter = pd.read_excel (r'backupT.xlsx', sheet_name='Hoja2')
df_Base_tweetter.to_sql(con=database_connection, name='t_base_twitter',if_exists='replace',chunksize=100)

C:\ProgramData\Anaconda3\envs\T\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'T_BASE_TWEETTER' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [36]:
df_Base_tweetterV2 = pd.read_csv (r'AmigosTweetter_base_V2.csv', engine='python', encoding = "ISO-8859-1", sep=';')
df_Base_tweetterV2.to_sql(con=database_connection, name='t_base_twitter', if_exists='replace',chunksize=100)

In [25]:
df_Base_tweetterV2

,screen_name,id,id_str,name,location,Idioma,concepto,impacto,NoTweets
0,sergiodigra,NaN,NaN,NaN,NaN,es,NaN,NaN,100
1,Victor_Malagon,NaN,NaN,NaN,NaN,es,NaN,NaN,100
2,jscorrales,NaN,NaN,NaN,NaN,es,NaN,NaN,100
3,_minecogob,NaN,NaN,NaN,NaN,es,NaN,NaN,100
4,elEconomistaes,NaN,NaN,NaN,NaN,es,NaN,NaN,100
5,FT,NaN,NaN,NaN,NaN,en,NaN,NaN,100
6,rodriguezbraun,NaN,NaN,NaN,NaN,es,NaN,NaN,100
7,josecdiez,NaN,NaN,NaN,NaN,es,NaN,NaN,100
8,suanzes,NaN,NaN,NaN,NaN,es,NaN,NaN,100
9,wef,NaN,NaN,NaN,NaN,es,NaN,NaN,100
10,ecofeminita,NaN,NaN,NaN,NaN,es,NaN,NaN,100
11,epeconomia,NaN,NaN,NaN,NaN,es,NaN,NaN,100
12,RevistaDinero,38227815.00,38227815.00,Revista Dinero,NaN,es,econom√≠a,10.00,100
13,bbcmundo,10012122.00,10012122.00,BBC News Mundo,NaN,es,internacional,8.00,100
14,BluRadioCo,622082899.00,622082899.00,BluRadio Colombia,NaN,es,actualidad,8.00,100
15,elespectador,14834302.00,14834302.00,elespectador,NaN,es,actualidad,8.00,100
16,RevistaSemana,18079284.00,18079284.00,Revista Semana,NaN,es,actualidad,8.00,100
17,ELTIEMPO,9633802.00,9633802.00,EL TIEMPO,NaN,es,actualidad,8.00,100
18,elcolombiano,64419705.00,64419705.00,El Colombiano,NaN,es,actualidad,8.00,100
19,lafm,126204564.00,126204564.00,La FM,NaN,es,actualidad,8.00,100
20,NoticiasRCN,35013719.00,35013719.00,Noticias RCN,NaN,es,actualidad,8.00,100
21,rcnradio,40533752.00,40533752.00,RCN Radio,NaN,es,actualidad,8.00,100
22,MailOnline,15438913.00,15438913.00,Daily Mail Online,NaN,en,actualidad,8.00,100
23,clarincom,8105922.00,8105922.00,Clar√≠¬≠n,NaN,es,actualidad,8.00,100
24,NBCNews,14173315.00,14173315.00,NBC News,NaN,en,actualidad,8.00,100
25,rcnmundo,210805091.00,210805091.00,RCN Mundo,NaN,es,actualidad,8.00,100
26,CaracolRadio,19236074.00,19236074.00,Caracol Radio,NaN,es,actualidad,8.00,100
27,NoticiasCaracol,17813487.00,17813487.00,Noticias Caracol,NaN,es,actualidad,8.00,100
28,NTN24,133945128.00,133945128.00,NTN24,NaN,es,internacional,8.00,100
29,NASA,11348282.00,11348282.00,NASA,NaN,en,ambiente ciencia y tecnolog√≠a,6.00,100
30,PublimetroCol,377173121.00,377173121.00,Publimetro Colombia,NaN,es,actualidad,8.00,100
31,Adcamach,NaN,NaN,NaN,NaN,es,NaN,NaN,100
32,Adriana_Guzman,NaN,NaN,NaN,NaN,es,NaN,NaN,100
33,agaviriau,NaN,NaN,NaN,NaN,es,NaN,NaN,100
34,AlbertoBernalLE,NaN,NaN,NaN,NaN,es,NaN,NaN,100
35,alhosu,NaN,NaN,NaN,NaN,es,NaN,NaN,100
36,amaldon19,NaN,NaN,NaN,NaN,es,NaN,NaN,100
37,Anamibanez,NaN,NaN,NaN,NaN,es,NaN,NaN,100
38,BancoRepublica,NaN,NaN,NaN,NaN,es,NaN,NaN,100
39,BvcColombia,NaN,NaN,NaN,NaN,es,NaN,NaN,100
40,CamiloDeGuzman,NaN,NaN,NaN,NaN,es,NaN,NaN,100
41,carlos_g_ospino,NaN,NaN,NaN,NaN,es,NaN,NaN,100
42,castellanosgd,NaN,NaN,NaN,NaN,es,NaN,NaN,100
43,CehernandezEcon,NaN,NaN,NaN,NaN,es,NaN,NaN,100
44,Cesaretamayo,NaN,NaN,NaN,NaN,es,NaN,NaN,100
45,estebanpie,NaN,NaN,NaN,NaN,es,NaN,NaN,100
46,Fedesarrollo,NaN,NaN,NaN,NaN,es,NaN,NaN,100
47,FocoEconomico,NaN,NaN,NaN,NaN,es,NaN,NaN,100
48,Fondosdepension,NaN,NaN,NaN,NaN,es,NaN,NaN,100
49,freddykastro,NaN,NaN,NaN,NaN,es,NaN,NaN,100
50,IECarballo,NaN,NaN,NaN,NaN,es,NaN,NaN,100
51,jagallegod,NaN,NaN,NaN,NaN,es,NaN,NaN,100
52,japebu,NaN,NaN,NaN,NaN,es,NaN,NaN,100
53,JavierMejiaC,NaN,NaN,NaN,NaN,es,NaN,NaN,100
54,jleibovi,NaN,NaN,NaN,NaN,es,NaN,NaN,100
55,Jllanosala,NaN,NaN,NaN,NaN,es,NaN,NaN,100
56,JoMalagon,NaN,NaN,NaN,NaN,es,NaN,NaN,100
57,JorgeARestrepo,NaN,NaN,NaN,NaN,es,NaN,NaN,100
58,JorgeATovar,NaN,NaN,NaN,NaN,es,NaN,NaN,100
59,JoseILOPEZ,NaN,NaN,NaN,NaN,es,NaN,NaN,100
60,jrobertoacosta1,NaN,NaN,NaN,NaN,es,NaN,NaN,100
61,juanf_vargas,NaN,NaN,NaN,NaN,es,NaN,NaN,100
62,juansrobledo,NaN,NaN,NaN,NaN,es,NaN,NaN,100
63,JusTributaria,NaN,NaN,NaN,NaN,es,NaN,NaN,100
64,LeopoldoTweets,NaN,NaN,NaN,NaN,es,NaN,NaN,100
65,LuisFelipeHenao,NaN,NaN,NaN,NaN,es,NaN,NaN,100
66,LuisFerMejia,NaN,NaN,NaN,NaN,es,NaN,NaN,100
67,mahofste,NaN,NaN,NaN,NaN,es,NaN,NaN,100
68,MantillaIgnacio,NaN,NaN,NaN,NaN,es,NaN,NaN,100
69,mariovalencia01,NaN,NaN,NaN,NaN,es,NaN,NaN,100
70,MauricioCard,NaN,NaN,NaN,NaN,es,NaN,NaN,100
71,Maurotov,NaN,NaN,NaN,NaN,es,NaN,NaN,100
72,MelendezMarcela,NaN,NaN,NaN,NaN,es,NaN,NaN,100
73,MinHacienda,NaN,NaN,NaN,NaN,es,NaN,NaN,100
74,MinSaludCol,NaN,NaN,NaN,NaN,es,NaN,NaN,100
75,Minvivienda,NaN,NaN,NaN,NaN,es,NaN,NaN,100
76,Moliverag,NaN,NaN,NaN,NaN,es,NaN,NaN,100
77,mpapell,NaN,NaN,NaN,NaN,es,NaN,NaN,100
78,NoelMllr,NaN,NaN,NaN,NaN,es,NaN,NaN,100
79,OskarNupia,NaN,NaN,NaN,NaN,es,NaN,NaN,100
80,Portafolioco,NaN,NaN,NaN,NaN,es,NaN,NaN,100
81,rafaelpuyana,NaN,NaN,NaN,NaN,es,NaN,NaN,100
82,RaquelBernal3,NaN,NaN,NaN,NaN,es,NaN,NaN,100
83,razuero,NaN,NaN,NaN,NaN,es,NaN,NaN,100
84,rchicave,NaN,NaN,NaN,NaN,es,NaN,NaN,100
85,RobertoAnguloS,NaN,NaN,NaN,NaN,es,NaN,NaN,100
86,RodLuisAlberto,NaN,NaN,NaN,NaN,es,NaN,NaN,100
87,Rohgal,NaN,NaN,NaN,NaN,es,NaN,NaN,100

In [12]:
df_RSS = pd.read_excel (r'backupT.xlsx', sheet_name='Hoja3')
df_RSS.to_sql(con=database_connection, name='t_rss', if_exists='replace',chunksize=100)

C:\ProgramData\Anaconda3\envs\T\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'T_RSS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [13]:
df_RSS_TMP = pd.read_excel (r'backupT.xlsx', sheet_name='Hoja4')
df_RSS_TMP.to_sql(con=database_connection, name='r_rss_tmp', if_exists='replace',chunksize=100)

C:\ProgramData\Anaconda3\envs\T\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'T_RSS_TMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [14]:
df_TWEETS = pd.read_excel (r'backupT.xlsx', sheet_name='Hoja7')
df_TWEETS.to_sql(con=database_connection, name='t_tweets', if_exists='replace',chunksize=100)

C:\ProgramData\Anaconda3\envs\T\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'T_TWEETS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [15]:
df_TWEETS_TMP = pd.read_excel (r'backupT.xlsx', sheet_name='Hoja8')
df_TWEETS_TMP.to_sql(con=database_connection, name='t_tweets_tmp', if_exists='replace',chunksize=100)

C:\ProgramData\Anaconda3\envs\T\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'T_TWEETS_TMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [16]:
database_connection.close()